
*{
    word-wrap: break-word;
}
#header{
    padding-bottom:20px;
}
#blog_title{
    text-align: center;
    margin-top: 60px;
    font-weight: bold;
    line-height: 32px;
    margin-left: 24px;
    margin-right: 24px;
}
#blog_date{
    text-align: center;
    margin-top: 15px;
    display: block;
    color: #929292;
}
#blog_content{
    line-height:26px;
}
img{
    width: 100%;
}
.code_img_closed, .auto_width{
    width: auto;
}
.cnblogs_code_toolbar button{
    margin: 10px;

}
.container-fluid{
        overflow: auto;
}

.code_key_primary, .hljs-keyword, .hljs-selector-tag, .hljs-built_in, .hljs-name, .hljs-tag{
    color:#0000ff;
}
.code_comment{
     color:#008000;
 }
.code_args{
     color:#000000;
 }
.code_symbol{
     color:#800080;
 }
.code_text{
     color:#800000;
 }
.code_high_night{
     color:#ff0000;
 }