<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.rae.cnblogs">


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <application
        android:name=".CnblogsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--启动页-->
        <activity
            android:name=".activity.LauncherActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
            <!-- <intent-filter>
                 <action android:name="android.intent.action.MAIN"/>

                 <category android:name="android.intent.category.LAUNCHER"/>
             </intent-filter>-->
        </activity>

        <!--主界面-->
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.Dark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.TestActivity"
            android:label="博客园测试"

            android:theme="@style/AppTheme.Dark">
            <!--     <intent-filter>
                     <action android:name="android.intent.action.MAIN"/>
                     <category android:name="android.intent.category.LAUNCHER"/>
                 </intent-filter>-->
        </activity>

        <!--博文-->
        <activity
            android:name=".activity.BlogContentActivity"
            />

        <!--登录-->
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTop"
            />


        <!--网页登录-->
        <activity
            android:name=".activity.WebLoginActivity"
            />

        <!--网页-->
        <activity
            android:name=".activity.WebActivity"/>

        <!--全屏图片预览-->
        <activity
            android:name=".image.ImagePreviewActivity"
            android:theme="@style/AppTheme.Translucent"/>

        <!--博主-->
        <activity
            android:name=".activity.BloggerActivity"
            />
        <!--关注、粉丝-->
        <activity
            android:name=".activity.FriendsActivity"
            />
        <!--分类管理-->
        <activity
            android:name=".activity.CategoryActivity"
            android:label="@string/title_category"
            android:launchMode="singleTop"
            />

        <activity
            android:name=".activity.FavoritesActivity"
            android:label="@string/my_favorites"
            android:launchMode="singleTop"
            />

        <activity
            android:name=".activity.SettingActivity"
            android:label="@string/setting"
            android:launchMode="singleTop"
            />

        <activity
            android:name=".activity.FeedbackActivity"
            android:label="@string/feedback"
            android:launchMode="singleTop"

            android:windowSoftInputMode="stateVisible"/>

        <activity
            android:name=".activity.SearchActivity"

            android:windowSoftInputMode="stateVisible"/>

        <activity
            android:name=".activity.SystemMessageActivity"
            android:label="@string/system_message"
            />

        <activity
            android:name=".activity.FontSettingActivity"
            android:label="@string/font_setting"
            />

        <activity
            android:name=".activity.CommentActivity"
            android:label="@string/label_comment"
            />

        <activity
            android:name=".activity.PostMomentActivity"
            android:label="@string/label_post_moment"
            />
        <activity
            android:name=".activity.ImageSelectionActivity"
            android:label="@string/label_image_selection"
            >

        </activity>
        <activity
            android:name=".activity.MomentDetailActivity"
            android:label="@string/label_moment_detail"
            />

        <activity
            android:name=".activity.MomentAtMeActivity"
            android:label="@string/label_moment_at_me"
            />

        <activity
            android:name=".activity.MomentMessageActivity"
            android:label="@string/label_moment_message"
            />

        <service
            android:name=".service.CnblogsService"
            android:label="@string/service_name"/>


        <service android:name=".service.MomentIntentService"/>

        <!--应用宝 -->
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!--腾讯SDK-->
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent1104927843"/>
            </intent-filter>
        </activity>

        <!--微信分享-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>


        <!--新浪微博-->
        <activity
            android:name=".activity.WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            />

        <!--新浪微博-->
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"

            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>

        <!--新浪微博-->
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>

        <!--文件提供者-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.rae.cnblogs.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/lc_fileprovider_path"/>
        </provider>

        <!--数据库提供者，解决Android 8.0 权限问题-->
        <provider
            android:name="com.rae.cnblogs.sdk.db.CnblogsContentProvider"
            android:authorities="com.rae.cnblogs"
            android:enabled="true"
            android:exported="false"/>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_APPKEY}"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL}"/>


    </application>

</manifest>