<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.rae.cnblogs">


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>-->
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <application
        android:name=".CnblogsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--启动页-->
        <activity
            android:name=".activity.LauncherActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
            <!--       <intent-filter>
                       <action android:name="android.intent.action.MAIN"/>

                       <category android:name="android.intent.category.LAUNCHER"/>
                   </intent-filter>-->
        </activity>

        <!--主界面-->
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark">
        <!--    <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>-->
        </activity>

        <activity
            android:name=".activity.TestActivity"
            android:label="博客园测试"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark">
            <!--   <intent-filter>
                   <action android:name="android.intent.action.MAIN"/>
                   <category android:name="android.intent.category.LAUNCHER"/>
               </intent-filter>-->
        </activity>

        <!--博文-->
        <activity
            android:name=".activity.BlogContentActivity"
            android:screenOrientation="portrait"/>

        <!--登录-->
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible"/>


        <!--网页登录-->
        <activity
            android:name=".activity.WebLoginActivity"
            android:screenOrientation="portrait"/>

        <!--网页-->
        <activity
            android:name=".activity.WebActivity"/>

        <!--全屏图片预览-->
        <activity
            android:name=".image.ImagePreviewActivity"
            android:theme="@style/AppTheme.Translucent"/>

        <!--博主-->
        <activity
            android:name=".activity.BloggerActivity"
            android:screenOrientation="portrait"/>
        <!--关注、粉丝-->
        <activity
            android:name=".activity.FriendsActivity"
            android:screenOrientation="portrait"/>
        <!--分类管理-->
        <activity
            android:name=".activity.CategoryActivity"
            android:label="@string/title_category"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.FavoritesActivity"
            android:label="@string/my_favorites"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.SettingActivity"
            android:label="@string/setting"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.FeedbackActivity"
            android:label="@string/feedback"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible"/>

        <activity
            android:name=".activity.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible"/>

        <activity
            android:name=".activity.SystemMessageActivity"
            android:label="@string/system_message"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.FontSettingActivity"
            android:label="@string/font_setting"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".service.CnblogsService"
            android:label="@string/service_name"/>

        <!--应用宝 -->
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!--腾讯SDK-->
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent1104927843"/>
            </intent-filter>
        </activity>

        <!--微信分享-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>


        <!--新浪微博-->
        <activity
            android:name=".activity.WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <!--新浪微博-->
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>

        <!--新浪微博-->
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.rae.cnblogs.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/lc_fileprovider_path"/>
        </provider>


        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_APPKEY}"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL}"/>

        <!--开始-快速开发需要移除下面的多进程-->
        <service
            android:name="com.squareup.leakcanary.internal.HeapAnalyzerService"
            android:enabled="false"
            tools:remove="process"/>
        <service
            android:name="com.tencent.tinker.lib.service.TinkerPatchService"
            android:exported="false"
            tools:remove="process"/>
        <service
            android:name="com.tencent.tinker.lib.service.TinkerPatchService$InnerService"
            android:exported="false"
            tools:remove="process"/>
        <!--结束-快速开发需要移除下面的多进程-->

    </application>

</manifest>